@import "../../index";

.DependencyCredits {
  background-color: #424242;
  color: white;
  #primary-grid-container {
    height: 100%;
    padding: 15px;
    .heading {
      text-align: center;
    }
    #featured-dependencies {
      height: 100%;
      .MuiCard-root {
        position: relative;
        height: 100%;
        .MuiCardHeader-root {
          background-color: $color-primary;
          color: white;
        }
        .MuiCardActions-root {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          .MuiButtonBase-root {
            margin-left: auto;
            margin-right: 10px;
            color: white;
          }
        }
      }
      .MuiPaper-root {
        background-color: white;
        color: black;
      }
    }
    #all-dependencies {
      height: 100%;
    }
    #all-dependencies-list {
      position: relative;
      height: 100%;
      min-height: 500px;
      .MuiListSubheader-root {
        background-color: $color-primary !important;
        color: white;
        height: 64px;
        line-height: 64px;
      }
      .MuiList-root {
        position: absolute;
        height: 100%;
        width: 100%;
        padding: 0;
        background-color: white;
        color: black;
        overflow: auto;
        border-radius: 4px;
        li {
          background-color: white;
          font-size: 20px;
        }
        ul {
          padding: 0;
        }
      }
    }
  }
}
