@import "../../index";

.Footer {
  padding-left: 5px;
  padding-right: 5px;
  .twitter-tile {
    .MuiPaper-root {
      background-color: #1da1f2;
    }
  }
  .flickr-tile {
    .MuiPaper-root {
      background-color: white;
    }
    .MuiCardContent-root {
      .footer-card-children {
        img {
          width: 50%;
        }
      }
    }
  }
  .github-tile {
    .MuiPaper-root {
      background-color: black;
    }
    img {
      background-color: white;
    }
  }
  .email-tile {
    .MuiPaper-root {
      background-color: $color-primary;
    }
  }
}
