.CovidTracker {
  margin-top: 100px;
  margin-left: 25px;
  margin-right: 25px;

  .Graph-toolbar {
    margin-left: 100px;
  }

  .Graph {
    height: 500px;
    width: 100%;
  }

  .Chip {
    margin: .5em;
  }

  .Chip.selected {
    background-color: #9131f7;
    color: white;
  }

  .Chip.selected:focus {
    background-color: #9131f7;
  }

  .Radio.selected {
    color: white;
  }
}
