$totalCasesColor: #00c2ad;
$totalDeathsColor: #008b79;
$totalTestsColor: #46fce4;

.CovidTracker {
  margin-top: 100px;
  margin-left: 25px;
  margin-right: 25px;

  .Graph-toolbar {
    margin-left: 100px;
  }

  .Graph {
    height: 500px;
    width: 100%;
  }

  .Chip {
    margin: 0.5em;
  }

  .Chip.selected.totalCases {
    background-color: $totalCasesColor;
    color: #3b3b3b;

    :focus {
      background-color: $totalCasesColor;
    }

    .Radio.selected {
      color: #3b3b3b;
    }
  }

  .Chip.selected.totalDeaths {
    background-color: $totalDeathsColor;
    color: white;

    :focus {
      background-color: $totalDeathsColor;
    }

    .Radio.selected {
      color: white;
    }
  }

  .Chip.selected.totalTests {
    background-color: $totalTestsColor;
    color: black;

    :focus {
      background-color: $totalTestsColor;
    }

    .Radio.selected {
      color: black;
    }
  }
}
