@import "../../index";
$totalCasesColor: #00c2ad;
$totalDeathsColor: #107568;
$totalTestsColor: #46fce4;
$regionMenuColor: #4b8078;

.CovidTracker {
  .text {
    margin: 10px;
  }

  .info-icon-container {
    text-align: center;
    .MuiSvgIcon-root {
      color: $totalDeathsColor;
    }
  }

  #Graph-label {
    visibility: hidden;
  }

  #loading-indicator-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    color: $color-primary;

    .MuiCircularProgress-colorPrimary {
      color: $color-primary;
    }
  }

  .toolbar {
    padding-left: 0.5em;
    padding-right: 0.5em;

    #Chips {
      width: 100%;
      margin-top: 0.5em;
    }

    .Chip {
      margin-right: 0.25em;
    }

    .Chip.selected.totalCases {
      background-color: $totalCasesColor;
      color: #3b3b3b;

      :focus {
        background-color: $totalCasesColor;
      }

      .Radio.selected {
        color: #3b3b3b;
      }
    }

    .Chip.selected.totalDeaths {
      background-color: $totalDeathsColor;
      color: white;

      :focus {
        background-color: $totalDeathsColor;
      }

      .Radio.selected {
        color: white;
      }
    }

    .Chip.selected.totalTests {
      background-color: $totalTestsColor;
      color: black;

      :focus {
        background-color: $totalTestsColor;
      }

      .Radio.selected {
        color: black;
      }
    }
  }

  .CovidTrackerLineGraph {
    height: 500px;
    width: 100%;
  }

  #info {
    margin: 2em;
    a {
      color: $totalDeathsColor;
    }
  }
}
