.FooterCard {
  height: 100%;

  .filter {
    filter: brightness(50%) blur(.5rem);
  }
  .MuiCard-root:before {
    content: "";
    float: left;
    padding-top: 100%;
  }
  .MuiCard-root {
    position: relative;
    color: white;
    .MuiCardContent-root {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      padding: 0;
      text-align: center;
      display: grid;
      .footer-card-children {
        margin: auto;
        img {
          width: 100%;
        }
        .MuiSvgIcon-root {
          height: 50%;
          width: 50%;
        }
        .MuiTypography-root {
          font-size: 3vw;
        }
      }
    }
    .MuiCardActions-root {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 0 2px 2px;

      .footer-card-open-button {
        width: 100%;
        text-align: right;
      }
      .footer-card-copy-button {
        width: 100%;
        text-align: left;
      }
      .MuiIconButton-root {
        height: 15px;
        width: 15px;
        padding: 15px;
      }
    }
  }

  .MuiPaper-root {
    background-color: #424242;
  }
}
